<!doctype html>
<html lnag="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../styles/cssgridtester.css">
</head>
<body>
<main>
    <div class="row">
        <div class="col-1">
        	<p>col-1</p>
        </div> 
        <div class="col-1"><p>col-1</p></div> 
        <div class="col-1"><p>col-1</p></div> 
        <div class="col-1"><p>col-1</p></div> 
        <div class="col-1"><p>col-1</p></div> 
        <div class="col-1"><p>col-1</p></div> 
    </div> 
    <div class="row">
        <div class="col-2"><p>col-2</p></div> 
        <div class="col-2"><p>col-2</p></div> 
        <div class="col-2"><p>col-2</p></div> 
    </div> 
    <div class="row">
        <div class="col-3"><p>col-3</p></div> 
        <div class="col-3"><p>col-3</p></div> 
    </div> 
    <div class="row">
    	<div class="col-4"><p>col-4</p></div>
    	<div class="col-2"><p>col-2</p></div>
    </div>
    <div class="row">
    	<div class="col-6"><p>col-6</p></div>
    </div>
    <aside class="row">
    	<section class="col-1">
    		<nav>
    			<ul>
    				<li>Lorem Ipsum</li>
    				<li>Lorem Ipsum</li>	
    				<li>Lorem Ipsum</li>
    				<li>Lorem Ipsum</li>
    			</ul>
    		</nav>
    	<p>There is some content here, about the page, and about which you are reading, there is some content, content and content and content, did you see the figure below?
    	</p>
    	<figure class="asideFig invader"></figure>
    	<figcaption>Look at the image, it is probably squished</figcaption>
    	</section>
    </aside>	
</main>
</body>
</html>