<!doctype html>
<html>
<head>
	<link href="../styles/wikigrabber.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<p>
	</p>
	<h1> Something Goes Here......but I am not sure what.....</h1>
	<section>
		<div id="space"></div>
		<div id="thermometer">
			<div class="temperature">110</div>
			<div class="temperature">105</div>
			<div class="temperature">100</div>
			<div class="temperature">95</div>
			<div class="temperature">90</div>
			<div class="temperature">85</div>
			<div class="temperature">80</div>
			<div class="temperature">75</div>
			<div class="temperature">70</div>
			<div class="temperature">65</div>
			<div class="temperature">60</div>
			<div class="temperature">55</div>
			<div class="temperature">50</div>
			<div class="temperature">45</div>
			<div class="temperature">40</div>
			<div class="temperature">35</div>
			<div class="temperature">30</div>
			<div class= "temperature redClass" id="base"></div>
		</div>
	</section>
	<div id="center">
		<button id="grabInfo">Grab Info</button>
		<div class="redGreen"></div>
	</div>
	<script src="../scripts/wikigrabber.js"></script>
</body>
</html>