body{
	font-family: Helvetica Arial Times;
	background-color: lightblue;
}

h1{
	font-size: 28px;
	text-align: center;
}

h2{
	font-size: 16px;
	text-align: center;
}

ul {
	list-style-type: none;
}

li{
	display: inline;
	margin: 2px auto;
}

#mainHolder{
	vertical-align: center;
	text-align: center;
	margin: 20% auto;
	height: 60%;
	width: 30%;
	border: 2px solid grey;
	background-color: #FFFFEE;

}

